* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'DejaVu Sans Mono', sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

html {
  background-color: #eeeeee;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.draw {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.draw-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  width: 100%;
}

.draw-button {
  font-size: 24px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 128px;
  padding: 50px;
  height: 100%;
}

.buttons-images {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}

.button-image {
  font-size: 64px;
  margin: 0 10px;

  transition: color 0.3s;
}

.button-image:hover {
  color: green;
}

.item-image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.bar {
  display: block;
  width: 90%;
  height: 0;
  background-color: black;
  margin: 1px;
  transition: height 0.3s;
}

.results {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.information {
  display: block;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  padding-top: 2px;
}

.positive,
.negative,
.status {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.positive {
  align-items: flex-end;
  height: 45%;
}

.status {
  align-items: center;
  height: calc(10% - 2px);
}

.negative {
  align-items: flex-start;
  height: 45%;
}


.positiveBar,
.negativeBar {
  height: 0;
}

.neuronResponseNormalized {
  width: 90%;
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

@media screen and (max-width: 768px) {

  html,
  body {
    height: auto;
    padding-top: 5px;
  }

  .container {
    flex-direction: column;
  }

  .result {
    height: auto;
    padding: 0;
  }

  .information {
    height: 320px;
  }
}